flows/Join_Dependent_Milestones.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Inbound</name>
        <label>Set Inbound</label>
        <locationX>327</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Inbound_Milestone.Dependencies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Found_Milestone.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inbound</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Join Dependent Milestones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Join Dependent Milestones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Dependency</name>
        <label>Get Dependency</label>
        <locationX>188</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Inbound</targetReference>
        </connector>
        <filters>
            <field>Deadline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inbound_Milestone.Dependent_Milestone_Deadline__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Kickoff__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inbound_Milestone.Dependent_Milestone_Kickoff__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inbound_Milestone.Dependent_Milestone_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inbound_Milestone.Project__c</elementReference>
            </value>
        </filters>
        <object>Milestone1_Milestone__c</object>
        <outputReference>Found_Milestone</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inbound</name>
        <label>Update Inbound</label>
        <locationX>463</locationX>
        <locationY>50</locationY>
        <inputReference>Inbound_Milestone</inputReference>
    </recordUpdates>
    <startElementReference>Get_Dependency</startElementReference>
    <status>Active</status>
    <variables>
        <name>Found_Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Milestone__c</objectType>
    </variables>
    <variables>
        <name>Found_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Task__c</objectType>
    </variables>
    <variables>
        <name>Inbound_Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Milestone__c</objectType>
    </variables>
    <variables>
        <name>Inbound_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Task__c</objectType>
    </variables>
</Flow>
