flows/Spin_Up_Project.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_New_Tasks</name>
        <label>Add to New Tasks</label>
        <locationX>883</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>New_Tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Top_Tasks_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_New_Tasks_0</name>
        <label>Add to New Tasks</label>
        <locationX>1349</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>New_Tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Bottom_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_Bottom_Task</name>
        <label>Fill Bottom Task</label>
        <locationX>1349</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>New_Task.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Project_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Bottom_Milestone.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Task_Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Task_Due</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Task_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Class__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Estimated_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Estimated_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Estimated_Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Estimated_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Dependent_Task_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Calc_Dependent_Task_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Dependent_Task_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Task_Dep_Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Dependent_Task_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Task_Dep_Due</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Project_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Bottom_Milestone.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Dependent_Task_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Calc_Dependent_Task_Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Tasks_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_New_Bottom_Milestone</name>
        <label>Fill New Bottom Milestone</label>
        <locationX>995</locationX>
        <locationY>18</locationY>
        <assignmentItems>
            <assignToReference>New_Bottom_Milestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Bottom_Milestone.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Bottom_Milestone.Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Bottom_Kickoff</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Bottom_Milestone.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Bottom_Milestone.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Bottom_Milestone.Expense_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Bottom_Milestone.Expense_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Bottom_Milestone.Hours_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Bottom_Milestone.Hours_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Bottom_Milestone.Kickoff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Bottom_Deadline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Bottom_Milestone.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Bottom_Milestone.Parent_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Top_Milestone.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Bottom_Milestone.Dependent_Milestone_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Bottom_Milestone.Calc_Dependent_Milestone_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Bottom_Milestone.Dependent_Milestone_Kickoff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Bottom_Dep_Kickoff</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Bottom_Milestone.Dependent_Milestone_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Bottom_Dep_Deadline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Bottom_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_New_Project</name>
        <label>Fill New Project</label>
        <locationX>50</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>New_Project.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Project_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Project.Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Project_Deadine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Project.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OG_Project.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Project.Project_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Green</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Project.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Project.Project_stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Project.Total_Expense_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OG_Project.Total_Expense_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Project.Total_Hours_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OG_Project.Total_Hours_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Project.Kickoff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Kickoff_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Project.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Source_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_New_Top_Milestone</name>
        <label>Fill New Top Milestone</label>
        <locationX>380</locationX>
        <locationY>145</locationY>
        <assignmentItems>
            <assignToReference>New_Top_Milestone.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Top_Milestone.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Top_Milestone.Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Top_Deadline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Top_Milestone.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Top_Milestone.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Top_Milestone.Expense_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Top_Milestone.Expense_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Top_Milestone.Hours_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Top_Milestone.Hours_Budget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Top_Milestone.Kickoff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Top_Kickoff</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Top_Milestone.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Top_Milestone.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Top_Milestone.Dependent_Milestone_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Top_Milestone.Calc_Dependent_Milestone_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Top_Milestone.Dependent_Milestone_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Top_Dep_Deadline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Top_Milestone.Dependent_Milestone_Kickoff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Top_Dep_Kickoff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Top_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_Top_Task</name>
        <label>Fill Top Task</label>
        <locationX>883</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>New_Task.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Project_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Bottom_Milestone.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Task_Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Task_Due</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Task_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Class__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Estimated_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Estimated_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Estimated_Expense__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Estimated_Expense__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Dependent_Task_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Calc_Dependent_Task_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Dependent_Task_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Task_Dep_Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Dependent_Task_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Task_Dep_Due</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Project_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Top_Milestone.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Task.Dependent_Task_Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Task.Calc_Dependent_Task_Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Child</name>
        <label>Is Child?</label>
        <locationX>799</locationX>
        <locationY>21</locationY>
        <defaultConnector>
            <targetReference>Loop_Bottom_Milestones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Child_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Top_Milestone.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Current_Bottom_Milestone.Parent_Milestone__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_New_Bottom_Milestone</targetReference>
            </connector>
            <label>Is Child True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Task</name>
        <label>Bottom Task?</label>
        <locationX>1129</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>Loop_Bottom_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Bottom_Task_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Task.Project_Milestone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Current_Bottom_Milestone.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Bottom_Task</targetReference>
            </connector>
            <label>Is Bottom Task True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Task_0</name>
        <label>Top Task?</label>
        <locationX>686</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>Loop_Top_Tasks_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Top_Task_True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Task.Project_Milestone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Current_Top_Milestone.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Top_Task</targetReference>
            </connector>
            <label>Is Top Task True</label>
        </rules>
    </decisions>
    <formulas>
        <name>New_Bottom_Deadline</name>
        <dataType>Date</dataType>
        <expression>{!Current_Bottom_Milestone.Deadline__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Bottom_Dep_Deadline</name>
        <dataType>Date</dataType>
        <expression>{!Current_Bottom_Milestone.Calc_Dependent_Milestone_Deadline__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Bottom_Dep_Kickoff</name>
        <dataType>Date</dataType>
        <expression>{!Current_Bottom_Milestone.Calc_Dependent_Milestone_Kickoff__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Bottom_Kickoff</name>
        <dataType>Date</dataType>
        <expression>{!Current_Bottom_Milestone.Kickoff__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Bottom_Parent_Deadline</name>
        <dataType>Date</dataType>
        <expression>{!Current_Bottom_Parent_Milestone.Deadline__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Bottom_Parent_Kickoff</name>
        <dataType>Date</dataType>
        <expression>{!Current_Bottom_Parent_Milestone.Kickoff__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Dependent_Task_Due</name>
        <dataType>Date</dataType>
        <expression>{!Current_Dependent_Task.Due_Date__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Dependent_Task_Start</name>
        <dataType>Date</dataType>
        <expression>{!Current_Dependent_Task.Start_Date__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Project_Deadine</name>
        <dataType>Date</dataType>
        <expression>{!OG_Project.Deadline__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Project_Name</name>
        <dataType>String</dataType>
        <expression>{!Source_Opportunity.Account.Name} + &quot; &quot; + {!OG_Project.Name} + &quot; [&quot; + TEXT({!New_Kickoff_Date}) + &quot;]&quot;</expression>
    </formulas>
    <formulas>
        <name>New_Task_Dep_Due</name>
        <dataType>Date</dataType>
        <expression>{!Current_Task.Calc_Dependent_Task_Due__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Task_Dep_Start</name>
        <dataType>Date</dataType>
        <expression>{!Current_Task.Calc_Dependent_Task_Start__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Task_Due</name>
        <dataType>Date</dataType>
        <expression>{!Current_Task.Due_Date__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Task_Start</name>
        <dataType>Date</dataType>
        <expression>{!Current_Task.Start_Date__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Top_Deadline</name>
        <dataType>Date</dataType>
        <expression>{!Current_Top_Milestone.Deadline__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Top_Dep_Deadline</name>
        <dataType>Date</dataType>
        <expression>{!Current_Top_Milestone.Calc_Dependent_Milestone_Deadline__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Top_Dep_Kickoff</name>
        <dataType>Date</dataType>
        <expression>{!Current_Top_Milestone.Calc_Dependent_Milestone_Kickoff__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>New_Top_Kickoff</name>
        <dataType>Date</dataType>
        <expression>{!Current_Top_Milestone.Kickoff__c} + {!Overall_Date_Offset}</expression>
    </formulas>
    <formulas>
        <name>Overall_Date_Offset</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE({!New_Kickoff_Date} - {!OG_Project.Kickoff__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Short_Project_Id</name>
        <dataType>String</dataType>
        <expression>LEFT({!OG_Project_Id},15)</expression>
    </formulas>
    <interviewLabel>Spin Up Project {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Spin Up Project</label>
    <loops>
        <name>Loop_Bottom_Milestones</name>
        <label>Loop Bottom Milestones</label>
        <locationX>694</locationX>
        <locationY>145</locationY>
        <assignNextValueToReference>Current_Bottom_Milestone</assignNextValueToReference>
        <collectionReference>All_OG_Bottom_Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Child</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Top_Tasks_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Bottom_Tasks</name>
        <label>Loop Bottom Tasks</label>
        <locationX>1137</locationX>
        <locationY>146</locationY>
        <assignNextValueToReference>Current_Task</assignNextValueToReference>
        <collectionReference>All_OG_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Which_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Bottom_Milestones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Top_Milestones</name>
        <label>Loop Top Milestones</label>
        <locationX>380</locationX>
        <locationY>326</locationY>
        <assignNextValueToReference>Current_Top_Milestone</assignNextValueToReference>
        <collectionReference>All_OG_Top_Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fill_New_Top_Milestone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Top_Tasks_0</name>
        <label>Loop Top Tasks</label>
        <locationX>694</locationX>
        <locationY>328</locationY>
        <assignNextValueToReference>Current_Task</assignNextValueToReference>
        <collectionReference>All_OG_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Which_Task_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Top_Milestones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Bottom_Milestone</name>
        <label>Create Bottom Milestone</label>
        <locationX>1136</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>Loop_Bottom_Tasks</targetReference>
        </connector>
        <inputReference>New_Bottom_Milestone</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Project</name>
        <label>Create New Project</label>
        <locationX>50</locationX>
        <locationY>584</locationY>
        <connector>
            <targetReference>Get_All_OG_Top_Milestones_0</targetReference>
        </connector>
        <inputReference>New_Project</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>381</locationX>
        <locationY>586</locationY>
        <inputReference>New_Tasks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Top_Milestone</name>
        <label>Create Top Milestone</label>
        <locationX>541</locationX>
        <locationY>145</locationY>
        <connector>
            <targetReference>Loop_Bottom_Milestones</targetReference>
        </connector>
        <inputReference>New_Top_Milestone</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_OG_Bottom_Milestones_0</name>
        <label>Get All OG Bottom Milestones</label>
        <locationX>211</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_OG_Tasks</targetReference>
        </connector>
        <filters>
            <field>Parent_Milestone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OG_Project.Id</elementReference>
            </value>
        </filters>
        <object>Milestone1_Milestone__c</object>
        <outputReference>All_OG_Bottom_Milestones</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Parent_Milestone__c</queriedFields>
        <queriedFields>Deadline__c</queriedFields>
        <queriedFields>Kickoff__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Calc_Dependent_Milestone_Name__c</queriedFields>
        <queriedFields>Calc_Dependent_Milestone_Deadline__c</queriedFields>
        <queriedFields>Calc_Dependent_Milestone_Kickoff__c</queriedFields>
        <queriedFields>Hours_Budget__c</queriedFields>
        <queriedFields>Expense_Budget__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_OG_Tasks</name>
        <label>Get All OG Tasks</label>
        <locationX>211</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Top_Milestones</targetReference>
        </connector>
        <filters>
            <field>ProjectId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Short_Project_Id</elementReference>
            </value>
        </filters>
        <object>Milestone1_Task__c</object>
        <outputReference>All_OG_Tasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Project_Milestone__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Due_Date__c</queriedFields>
        <queriedFields>Priority__c</queriedFields>
        <queriedFields>Class__c</queriedFields>
        <queriedFields>Estimated_Hours__c</queriedFields>
        <queriedFields>Estimated_Expense__c</queriedFields>
        <queriedFields>Dependencies__c</queriedFields>
        <queriedFields>Calc_Dependent_Task_Due__c</queriedFields>
        <queriedFields>Calc_Dependent_Task_Milestone__c</queriedFields>
        <queriedFields>Calc_Dependent_Task_Name__c</queriedFields>
        <queriedFields>Calc_Dependent_Task_Start__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_OG_Top_Milestones_0</name>
        <label>Get All OG Top Milestones</label>
        <locationX>211</locationX>
        <locationY>584</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_OG_Bottom_Milestones_0</targetReference>
        </connector>
        <filters>
            <field>Parent_Milestone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OG_Project.Id</elementReference>
            </value>
        </filters>
        <object>Milestone1_Milestone__c</object>
        <outputReference>All_OG_Top_Milestones</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Parent_Milestone__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Expense_Budget__c</queriedFields>
        <queriedFields>Hours_Budget__c</queriedFields>
        <queriedFields>Deadline__c</queriedFields>
        <queriedFields>Kickoff__c</queriedFields>
        <queriedFields>Calc_Dependent_Milestone_Deadline__c</queriedFields>
        <queriedFields>Calc_Dependent_Milestone_Name__c</queriedFields>
        <queriedFields>Calc_Dependent_Milestone_Kickoff__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OG_Project</name>
        <label>Get OG Project</label>
        <locationX>50</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fill_New_Project</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OG_Project_Id</elementReference>
            </value>
        </filters>
        <object>Milestone1_Project__c</object>
        <outputReference>OG_Project</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Kickoff__c</queriedFields>
        <queriedFields>Deadline__c</queriedFields>
        <queriedFields>Total_Expense_Budget__c</queriedFields>
        <queriedFields>Total_Hours_Budget__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_Oppty</name>
        <label>Get Source Oppty</label>
        <locationX>50</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OG_Project</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Source_Opportunity.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Source_Opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <startElementReference>Get_Source_Oppty</startElementReference>
    <status>Active</status>
    <variables>
        <name>All_OG_Bottom_Milestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Milestone__c</objectType>
    </variables>
    <variables>
        <name>All_OG_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Task__c</objectType>
    </variables>
    <variables>
        <name>All_OG_Top_Milestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Milestone__c</objectType>
    </variables>
    <variables>
        <name>Bottom_Dependent_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Task__c</objectType>
    </variables>
    <variables>
        <name>Current_Bottom_Dep_Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Milestone__c</objectType>
    </variables>
    <variables>
        <name>Current_Bottom_Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Milestone__c</objectType>
    </variables>
    <variables>
        <name>Current_Bottom_Parent_Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Milestone__c</objectType>
    </variables>
    <variables>
        <name>Current_Dependent_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Task__c</objectType>
    </variables>
    <variables>
        <name>Current_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Task__c</objectType>
    </variables>
    <variables>
        <name>Current_Task_Dep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Task__c</objectType>
    </variables>
    <variables>
        <name>Current_Task_Dep2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Task__c</objectType>
    </variables>
    <variables>
        <name>Current_Top_Dep_Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Milestone__c</objectType>
    </variables>
    <variables>
        <name>Current_Top_Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Milestone__c</objectType>
    </variables>
    <variables>
        <name>Loop_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Task__c</objectType>
    </variables>
    <variables>
        <name>New_Bottom_Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Milestone__c</objectType>
    </variables>
    <variables>
        <name>New_Bottom_Milestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Milestone__c</objectType>
    </variables>
    <variables>
        <name>New_Dependent_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Task__c</objectType>
    </variables>
    <variables>
        <name>New_Kickoff_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Project__c</objectType>
    </variables>
    <variables>
        <name>New_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Task__c</objectType>
    </variables>
    <variables>
        <name>New_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Task__c</objectType>
    </variables>
    <variables>
        <name>New_Top_Milestone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Milestone__c</objectType>
    </variables>
    <variables>
        <name>New_Top_Milestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Milestone__c</objectType>
    </variables>
    <variables>
        <name>OG_Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Milestone1_Project__c</objectType>
    </variables>
    <variables>
        <name>OG_Project_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Source_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Source_Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
